# port
server:
  port: 8088
  domain: http://localhost:8088
  servlet:
    context-path: /atv
# db
spring:
  datasource:
    url: jdbc:sqlserver://10.201.21.95:51122;databaseName=ATVNET
    username: atvnetadm
    password: ggJ5tp?SfvAd_4@U
    hibernate.dialect: org.hibernate.dialect.SQLServer2008Dialect
    configuration:
      connectionTimeout: 30000
      idleTimeout: 600000
      maxLifetime: 1800000
  mvc:
    view:
      prefix: /WEB-INF/jsp/
      suffix: .jsp
  jmx:
    default-domain: tt
  jackson:
    time-zone: Asia/Ho_Chi_Minh
    date-format: yyyy-MM-dd HH:mm:ss

# uploading
data.patho: C:\Users\V0959579\Desktop\image\imgErr\
data.path: C:\Users\V0959579\Desktop\image\res\media\
data.thumb: C:\Users\V0959579\Desktop\image\res\thumb\


# logging
logging:
  level:
    #    root: DEBUG
    com.amkor: DEBUG
    #    org.springframework.web: DEBUG
    org.hibernate.SQL: DEBUG
    #    org.hibernate: DEBUG
    #    org.springframework.jdbc.core.JdbcTemplate: DEBUG
    org.springframework.web.client.RestTemplate: DEBUG
#    com.zaxxer.hikari: DEBUG

#cron


batch:
  cron:
    sync:
      output-me-b04: 0 0 9 * * *
      hr-covid-b04: 0 20 13,1 * * *